<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות</title>
</head>
<body>
    <h1>התחבר למשחק הטריוויה</h1>
    <form method="POST" action="/">
        <label for="username">שם משתמש:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">סיסמה:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">התחבר</button>
    </form>
</body>
</html>

